name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    uses: btwld/dart-actions/.github/workflows/publish.yml@main
    with:
      packages_folder_path: "packages"
      packages: "remix"
    permissions:
      id-token: write
      contents: read