name: Test Workflow

on:
  push:
    branches: [main, next]
    paths-ignore:
      - 'docs/**'
      - 'assets/**'

  pull_request:
    branches: [main, next]
    paths-ignore:
      - 'docs/**'
      - 'assets/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    uses: btwld/dart-actions/.github/workflows/ci.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      flutter-version: 'stable'
      run-dcm: true