name: Test Workflow

on:
  push:
    branches: [main, next]
    paths-ignore:
      - 'docs/**'
      - 'assets/**'

  pull_request:
    branches: [main, next]
    paths-ignore:
      - 'docs/**'
      - 'assets/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests for all packages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          channel: 'stable'

      - name: Flutter version
        run: flutter --version

      - name: Install melos
        run: dart pub global activate melos

      - name: Run flutter pub get at root
        run: flutter pub get

      - name: Bootstrap with melos
        run: melos bootstrap

      - name: Run tests
        run: melos run test:flutter
